/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 0px;
  width: 100%;
  border-collapse: collapse;
  border: 10px solid var(--global-border-color);
  table-layout: fixed;

  & + table {
    margin-top: 0px;
  }
}

thead {
  background-color: 0px var(--global-border-color);
  border-bottom: 0px solid var(--global-border-color);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 10px solid var(--global-border-color);
  background-color: var(--global-table-background-color);
}

td {
  padding: 0.5em;
  border-bottom: 10px solid var(--global-border-color);
  border-right: 10px solid var(--global-border-color);
  background-color: var(--global-table-background-color);
}

tr, td, th {
  vertical-align: top;
}